# # mit cv2
# # --upgrade --force-reinstall opencv-python-headless
opencv-python-headless
torch
torchvision
ultralytics
numpy
pillow
pandas
matplotlib
streamlit

# ersetzen von cv2
# torch
# torchvision
# ultralytics
# numpy
# pillow
# pandas
# matplotlib
# streamlit
# moviepy
